# =============================================================================
#                         GitHub Linguist settings
# =============================================================================

# Ignore Jupyter notebooks in language stats and code analysis
*.ipynb linguist-vendored
